/* styles.css */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 0;
}

.icon-container {
    cursor: pointer;
    margin-left: 10px;
}

.dark-mode-toggle {
    margin-left: auto; 
}

.dark-mode-toggle i {
    font-size: 24px;
}

.main-container {
    padding: 20px;
}

h1, h2, h3 {
    color: #333;
}

.song-list {
    list-style: none;
    padding: 0;
}

.song-list li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    color: #fff;
}

/* Dark Mode Styles */

body.dark-mode {
    background-color: #333;
    color: #fff;
}

header.dark-mode {
    background-color: #555;
}

h1.dark-mode, h2.dark-mode, h3.dark-mode {
    color: #fff;
}

.song-list.dark-mode {
    color: #fff;
}

footer.dark-mode {
    background-color: #555;
}
